MedidorTempHumIntExt.json
[{"id":"a24b8454e57b93dd","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"dd9ac6d8d1cd5af5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a2a8d73b2d076d6e","type":"ui_tab","name":"Medições","icon":"house","disabled":false,"hidden":false},{"id":"4c88f515b97a7456","type":"ui_group","name":"Medições internas","tab":"a2a8d73b2d076d6e","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d9b4e18b0bc8a7a7","type":"ui_group","name":"Medições Externas","tab":"a2a8d73b2d076d6e","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2bc45a8faba78c27","type":"rpi-dht22","z":"a24b8454e57b93dd","name":"","topic":"rpi-dht11","dht":"11","pintype":"0","pin":"15","x":300,"y":780,"wires":[["605f7a2ab578d38a","fd40c06b8e37a696","85ffc87b133f5c06","7ad765b272db3329","cc3c6d4f95dd38d9"]]},{"id":"3c4e9bc00bbea70e","type":"inject","z":"a24b8454e57b93dd","name":"Timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":820,"wires":[["2bc45a8faba78c27","29604cf06804f2f6"]]},{"id":"7ad765b272db3329","type":"ui_text","z":"a24b8454e57b93dd","group":"4c88f515b97a7456","order":1,"width":0,"height":0,"name":"Temp txt","label":"Temperatura:","format":"{{msg.payload + \"°C\"}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":480,"y":480,"wires":[]},{"id":"5dbe4760298837eb","type":"ui_text","z":"a24b8454e57b93dd","group":"4c88f515b97a7456","order":2,"width":0,"height":0,"name":"Humid txt","label":"Umidade:","format":"{{msg.payload + \"%\"}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":740,"y":960,"wires":[]},{"id":"cc3c6d4f95dd38d9","type":"ui_chart","z":"a24b8454e57b93dd","name":"Temp chart","group":"4c88f515b97a7456","order":2,"width":0,"height":0,"label":"Temperatura interna","chartType":"line","legend":"false","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":490,"y":540,"wires":[[]]},{"id":"5206773f630fdde5","type":"ui_chart","z":"a24b8454e57b93dd","name":"Humid chart","group":"4c88f515b97a7456","order":3,"width":0,"height":0,"label":"Umidade interna","chartType":"line","legend":"false","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":730,"y":900,"wires":[[]]},{"id":"f1d64460070cebf6","type":"ui_text","z":"a24b8454e57b93dd","group":"d9b4e18b0bc8a7a7","order":1,"width":0,"height":0,"name":"Temp txt","label":"Temperatura:","format":"{{msg.payload.tempc + \"°C\"}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":360,"y":900,"wires":[]},{"id":"e69dddd2ee8a528a","type":"ui_chart","z":"a24b8454e57b93dd","name":"Temp chart","group":"d9b4e18b0bc8a7a7","order":3,"width":0,"height":0,"label":"Temperatura externa","chartType":"line","legend":"false","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":980,"wires":[[]]},{"id":"90e6ce755fbab91b","type":"ui_chart","z":"a24b8454e57b93dd","name":"Humid chart","group":"d9b4e18b0bc8a7a7","order":4,"width":0,"height":0,"label":"Umidade externa","chartType":"line","legend":"false","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":1040,"wires":[[]]},{"id":"29dbb7c8197fbf52","type":"ui_text","z":"a24b8454e57b93dd","group":"d9b4e18b0bc8a7a7","order":2,"width":0,"height":0,"name":"Humid txt","label":"Umidade:","format":"{{msg.payload.humidity + \"%\"}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":320,"y":1100,"wires":[]},{"id":"131514e965f52f9f","type":"function","z":"a24b8454e57b93dd","name":"Umidade","func":"\nmsg.payload = msg.payload.humidity;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1040,"wires":[["90e6ce755fbab91b"]]},{"id":"0f2a74763989d099","type":"function","z":"a24b8454e57b93dd","name":"Temperatura","func":"\nmsg.payload = msg.payload.tempc;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":980,"wires":[["e69dddd2ee8a528a"]]},{"id":"43cefe310ea64923","type":"ui_toast","z":"a24b8454e57b93dd","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"Low humidity warning","x":1160,"y":780,"wires":[]},{"id":"d4e44e295ab09c8f","type":"switch","z":"a24b8454e57b93dd","name":"Low humidity check","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":780,"wires":[["b0a9b6aab6a5fead"]]},{"id":"ead6342033fb792e","type":"switch","z":"a24b8454e57b93dd","name":"High humidity check","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":840,"wires":[["e3a959a72fe16230"]]},{"id":"4b93c904f2010fb3","type":"ui_toast","z":"a24b8454e57b93dd","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"High humidity warning","x":1160,"y":840,"wires":[]},{"id":"b0a9b6aab6a5fead","type":"function","z":"a24b8454e57b93dd","name":"Write warning","func":"msg.topic = \"Umidade: \" + msg.payload + \"%\"\nmsg.payload = \"Umidade interna abaixo do ideal\"\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":780,"wires":[["43cefe310ea64923"]]},{"id":"e3a959a72fe16230","type":"function","z":"a24b8454e57b93dd","name":"Write warning","func":"msg.topic = \"Umidade: \" + msg.payload + \"%\"\nmsg.payload = \"Umidade interna acima do ideal\"\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":840,"wires":[["4b93c904f2010fb3"]]},{"id":"29604cf06804f2f6","type":"openweathermap","z":"a24b8454e57b93dd","name":"External data","wtype":"current","lon":"-46.573008","lat":"-23.648415","city":"","country":"","language":"pt","x":130,"y":940,"wires":[["f1d64460070cebf6","0f2a74763989d099","131514e965f52f9f","29dbb7c8197fbf52"]]},{"id":"7e4b83d909057b8f","type":"debug","z":"a24b8454e57b93dd","name":"debug 1","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":1040,"wires":[]},{"id":"605f7a2ab578d38a","type":"function","z":"a24b8454e57b93dd","name":"Umidade","func":"\nmsg.payload = msg.humidity;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":880,"wires":[["5dbe4760298837eb","5206773f630fdde5","d4e44e295ab09c8f","ead6342033fb792e","7e4b83d909057b8f"]]},{"id":"85ffc87b133f5c06","type":"switch","z":"a24b8454e57b93dd","name":"Low temperature check","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":620,"wires":[["dcc0d85c2aa99301"]]},{"id":"fd40c06b8e37a696","type":"switch","z":"a24b8454e57b93dd","name":"High temperature check","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"26","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":680,"wires":[["0a51682895a4babd"]]},{"id":"dcc0d85c2aa99301","type":"function","z":"a24b8454e57b93dd","name":"Write warning","func":"msg.topic = \"Temperatura: \" + msg.payload + \"°C\"\nmsg.payload = \"Temperatura interna abaixo do ideal\"\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":620,"wires":[["f8e0a3b2658f77fa"]]},{"id":"0a51682895a4babd","type":"function","z":"a24b8454e57b93dd","name":"Write warning","func":"msg.topic = \"Temperatura: \" + msg.payload + \"°C\"\nmsg.payload = \"Temperatura interna acima do ideal\"\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":680,"wires":[["e8af2d645c31776a"]]},{"id":"f8e0a3b2658f77fa","type":"ui_toast","z":"a24b8454e57b93dd","position":"top left","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"Low temperature warning","x":1150,"y":620,"wires":[]},{"id":"e8af2d645c31776a","type":"ui_toast","z":"a24b8454e57b93dd","position":"top left","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"High temperature warning","x":1150,"y":680,"wires":[]}]